/* Estilo geral */
body {
  background-image: linear-gradient(45deg, #1a2a6c, #b21f1f, #fdbb2d);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.form-card {
  background: rgba(17, 24, 69, 0.65);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 600px;
}

h1 {
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.toggle-label {
  margin-right: 10px;
  color: white;
}

.toggle-checkbox {
  display: none;
}

.toggle-switch {
  position: relative;
  width: 50px;
  height: 24px;
  background: #ccc;
  border-radius: 24px;
  cursor: pointer;
}

.toggle-switch::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

.toggle-checkbox:checked + .toggle-switch {
  background: #4CAF50;
}

.toggle-checkbox:checked + .toggle-switch::before {
  transform: translateX(26px);
}

.property {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.property label,
.property input,
.property select {
  margin-bottom: 10px; 
}

@media (max-width: 600px) {
  .form-card {
      width: 90%;
  }
  .campos-form {
      flex-direction: column;
  }
}
