<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <coverage>
    <report>
      <html outputDirectory="coverage-report" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Your Test Suite">
      <directory>backend/tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">backend/</directory>
    </include>
  </source>
</phpunit>
